dash==2.16.1
dash-bootstrap-components==1.5.0
dash-core-components==2.0.0
dash-extensions==1.0.14
dash-html-components==2.0.0
dash-renderer==1.9.1
dash-table==5.0.0
pandas==2.2.2
plotly==5.21.0
Flask==3.0.3
gunicorn
