/* assets/style.css */
body {
    background-color: white; /* Blue background for the whole page */
    color: #6f42c1; /* White text color */
}

.header {
    text-align: center;
    margin-top: 20px;
}
.card-header {
    margin-top: 20px;
    background-color: #896cb8;
    color: white;
    font-size: 1.2em;
}

.card-body {
    
    background-color: #896cb8;
    color: white;
    font-size: 1.2em;
    text-align: center
}

.card-title {
    font-weight: bold;
    font-size: 1.3em;
}

.card-text {
    font-style: italic;
    color: white;
}

.card-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;  /* Set a fixed width */
    height: 100px; /* Set a fixed height */
    object-fit: contain;
}


.framed-graph {
    border: 2px solid #896cb8;
    box-shadow: 2px 2px 10px #aaa;
    padding: 10px;
    border-radius: 15px;
}
.no-frame{
    background-color: white; /* Blue background for the whole page */
    color: #6f42c1;
}


